.challengePageWrapper{
    margin-top:0;
    height:100vh;
    width:100vw;
    background-color: white;
}

.challengediv{
    margin-top:0;
    width:100%;
    height:95%;
    position: relative;
    background-color: beige;
}

#challengename{
    margin-top:1%;
    position: absolute;
    font-size: 200%;
    margin-left:10%;
}

#challengedescription{
    margin-top:3%;
    position: absolute;
    font-size: 150%;
    margin-left:10%;
}

#challengeinput{
    width:60%;
    height:40%;
    position: absolute;
    background-color:white;
    bottom:10%;
    left:10%;
    font-size:150%;
    resize: none;   
    color:black;
    border:none;
    overflow-y: scroll;
}

#consoleview{
    position: absolute;
    right:0;
    height:100%;
    width:20%;
    background-color:black;
    color:white;
    overflow-y: scroll;
}

#executebutton{
    border:none;
    position: absolute;
    width:5%;
    height:40%;
    bottom:10.3%;
    right:24.7%;
    background-color: black;
    color:white;
}

#backbutton{
    position: absolute;
    top:1.5%;
    left:1%;
}

.completediv{
    position: absolute;
    width:75%;
    height:75%;
    background-color:pink;
    top:17%;
    left:10%;
    display:none;
}

#completetitle{
    color:white;
    font-size:250%;
    position: relative;
    left:40%;

}

#completedescription{
    position: relative;
    color:grey;
    font-size:100%;
    left:42.5%;
}