#username{
    position: absolute;
    top:10%;
    left:25%;
    font-size:300%;
}

#showavatarprofile{
    position: absolute;
    top:10%;
    left:10%;
    width:150px;
    height:150px;
    border-radius:100px;
}

.completedChallenges{
    width:80%;
    height:60%;
    border:2px solid grey;
    position: absolute;
    bottom:0;
    right:10%;
}

#completedchallengestitle{
    position: absolute;
    left:38%;
    font-size:150%;
    top:-3%;
}

#showchallenges{
    width:100%;
    height:85%;
    position: absolute;
    bottom:0;
    overflow-y: scroll;
    left:-2px;
}

#showchallenges{
    text-align:center;
    color:black;
}